<% var d = new Date(); var year = d.getFullYear(); %>
<footer>
  <a href="/error/trigger">
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    <span class="error-link">Error Link</span>
  </a>
</footer>
