<section>
  <h1><%= title %></h1>
  <p><%- message %></p>
  <!-- Unescaped EJS code to display HTML messages properly -->

  <p>
    Oops! Something went wrong. But don’t worry, even Tony Stark’s servers crash
    sometimes!
  </p>

  <a href="/">Go back home</a>
</section>
